:root {
  --accent-c: #f2994a;
  --arrow-c: #e0e0ee;
  --bg-c: #333333;
  --bold-fw: bold;
  --border-c: #828282;
  --dark-bg-c: #160d0d;
  --error-c: #eb5757;
  --header-bg-c: #0a0a0a;
  --hover-c: #f2c94c;
  --light-fz: 14px;
  --large-fz: 26px;
  --light-bg-c: #4f4f4f;
  --medium-fz: 24px;
  --medium-fw: 600;
  --nomral-fw: normal;
  --page-c: #222222;
  --small-fz: 18px;
  --text-c: #f2f2f2;
  --visited-link-c: #dfdfdf;
}

*, ::before, ::after {
  box-sizing: border-box;
}

html {
  background-color: var(--page-c);
  min-height: calc(100vh + 200px);
}

body {
  background-color: var(--bg-c);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  color: var(--text-c);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: var(--light-fz);
  max-width: 600px;
  margin: 0 auto;
  padding: 0;
}

a:link {
  color: var(--text-c);
  display: inline-block;
  transition: 0.2s;
}

a:visited {
  color: var(--visited-link-c);
}

a:link:hover, a:visited:hover {
  color: var(--hover-c);
  transform: scale(1.05);
}

a:link:active {
  color: var(--accent-c);
}
