.catalog-item__title {
  color: var(--text-c);
  font-size: var(--large-fz);
  margin: 0 0 0 15px;
}

.catalog-item__price {
  font-size: var(--small-fz);
  margin: 0 0 10px 15px;
}

.slider {
  max-width: 360px;
  overflow: hidden;
  position: relative;
}

.slider__list {
  display: flex;
  transform: translateX(-203px);
}

.slider__img {
  filter: blur(2px);
}

.slider__btn {
  background: none;
  border: none;
  cursor: pointer;
  height: 82px;
  position: absolute;
  padding: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
}

.slider__arrow {
  transition: 0.2s;
}

.slider__btn:hover .slider__arrow {
  stroke: var(--hover-c);
  transform: scale(1.05);
}

.slider__btn:active .slider__arrow {
  stroke: var(--accent-c);
}

.slider__btn--left {
  left: 10px;
}

.slider__btn--right {
  right: 10px;
}

.catalog-item__description {
  column-gap: 30px;
  display: grid;
  grid-template-columns: max-content 1fr;
  padding-left: 15px;
  padding-top: 10px;
}

.catalog-item__mileage {
  margin: 0;
}

.catalog-item__characteristics {
  list-style: none;
  padding: 0;
  margin: 0;
}
